html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 20px);
    height: calc(10vh - 20px);
    padding: 10px;
    background-color: black;
    color: white;
}

.header span {
    display: inline-block;
    width: calc(25vw - 10px);
    font-size: 6vh;
    text-align: center;
    vertical-align: middle;
}

.header span img {
    width: 100%;
    height: calc(10vh - 20px);
    object-fit: contain;
}

.teleprompterScript {
    font-size: 50px;
}

.teleprompterScript .sectionTitle {
    background-color: var(--uiColour);
    color: var(--uiTextColour);
    padding: 15px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.teleprompterScript section {
    background-color: black;
    color: white;
}

.teleprompterScript section.directive {
    background-color: white;
    color: black;
}

.teleprompterScript {
    margin-top: 50vh;
    margin-bottom: 50vh;
}

.teleprompterArrow {
    position: fixed;
    top: 50vh;
    left: 10px;
    font-size: 60px;
    mix-blend-mode: difference;
}